<!-- src/main/resources/mapper/EmpMapper.xml -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hfut.tilaswebmangement.Mapper.EmpExprMapper">
    <insert id="insertBatch">
    insert into emp_expr(emp_id, begin, end, company, job) values
    <foreach collection="exprList" item="item" separator=",">
        (#{item.empId}, #{item.begin}, #{item.end}, #{item.company}, #{item.job})
    </foreach>
    </insert>
    <delete id="deleteByEmpIds">
            delete from emp_expr where emp_id in
        <foreach collection="ids" item="empId" separator="," open="(" close=")">
            #{empId}
        </foreach>
    </delete>
    <select id="getBatchById" resultType="com.hfut.tilaswebmangement.pojo.EmpExpr">
            select id, emp_id, begin, end, company, job  from emp_expr where emp_id=#{id}
    </select>
    <select id="getEmpGenderData" resultType="java.util.Map">
        select  if(gender=1,'男性员工','女性员工') name,count(*)
            value from emp group
                by gender;
    </select>
</mapper>
